{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ transaction.owner.username }}</a>
        </div>
            <h2>Name: {{ transaction.name }} Value:{{ transaction.value }}</a></h2>
            <h2>Category: {{ transaction.category }}  Date: {{ transaction.date.strftime('%Y-%m-%d') }}</a></h2>
        </div>
    </article>
{% endblock content %}